<ion-item>
    <ion-button color="primary" (click)="showEx('maths')">MATHS</ion-button>
    <ion-button color="tertiary" (click)="showEx('inferences')">INFERENCES</ion-button>
    <ion-button color="tertiary" (click)="showEx('emotions')">EMOTIONS</ion-button>
    <ion-button color="tertiary" (click)="showEx('random')">RANDOM</ion-button>
</ion-item>
<ion-content>
    <ion-card *ngIf="exercise != {}" >
    <img [src]="src" />
    <ion-card-header>
        <ion-card-subtitle> {{ type }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ question }}   </ion-card-content>
<ion-card>
