<ion-toolbar  *ngIf="!streaming">
    <ion-segment [(ngModel)]="view" (ionChange)="show($event)">
        <ion-segment-button value="map">
            <ion-icon name="map-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="camera">
            <ion-icon name="camera-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
<ion-content>
<streaming *ngIf="streaming" [streaming]="streaming"></streaming>
<app-map [streaming]="streaming" *ngIf="!streaming"></app-map>

<app-joystick *ngIf="streaming"></app-joystick>

