ion-badge {
    --padding-top: 8px;
  }

  .selected {
    border: 1px solid black;
    opacity: 1 !important;
  }

  .speedSelectors {
    width:30%;
    color:white;
    margin: 0 5px;
    opacity:0.5;
  }

  