ion-content {
  --overflow: hidden;
}
ion-slide {
  display: block;
}
img {
  max-height: 400px;
  max-width: 400px;
}
.slide-img {
  padding: 20px;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 60px;
}

.btn-primary {
  height: 60px;
}

@media screen and (max-height: 775px) {
  img {
    width: 70%;
  }
}
